
.header {
    background-color: #342f57;
    position: relative;
}

.mono {
    width: 65%;
}

.navbar {
    padding: 6px 0 !important;
}

.navbar-nav .nav-icon {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.397);
    cursor: pointer;
}

.navbar-nav .nav-icon:hover{
    color: #fff;
}

.project-name {
    color: #6b8be8;
}


.search-bar {
    width: 417px !important;
    border: none !important;
    border-radius: 20px !important;
    background: #2e2c4c !important;
    padding-left: 35px !important;
}

.right-search {
    position: absolute;
    color: rgba(255, 255, 255, 0.397);
    bottom: 0;
    top: 29px;
    left: 647px;
    right: 0;
}

.left-search {
    position: absolute;
    top: 19px;
    bottom: 0;
    left: 1009px;
    right: 0;
    font-size: 27px;
    color: #6b8be8;
}

.left-nav-icon {
    margin-left: 75px;
    font-size: 17px;
}

/* .rounded-pill {
    
} */

li {
    margin-right: 8px;
}


.border-left {
    border-right: 1px solid gray;
    padding-right: 20px;
    height: 30px;
    position: absolute;
    right: 1072px;
    left: 0;
    bottom: 0;
    top: 20px;
}

.border-right {
    margin-left: 32px;
}

.link-text {
    margin-left: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.gray-icon {
    margin-left: 90px;
}

.line-break {
    background-color: gray;
    height: 2px;
    margin: 0;
}

.sub-navbar {
    display: inline;
    justify-content: space-around;
    align-items: center;
}

.bg-transparent {
    color: #fff !important;
    margin-right: 100px;
    cursor: pointer;
}
.bg-transparent:hover {
    background: #fff !important;
    color: #6f91f2 !important;
    outline: none;
}

.tab-background {
    background: #fff !important;
    padding: 0 !important;
}


.tab-buttons {
    margin-right: 20px;
    padding: 10px 35px !important;
    background: #342f57 !important;
    color: #fff !important;
    cursor: pointer;
}

.tab-buttons:hover{
    color: #6f91f2 !important;
    background: #fff !important;
}



.menu-text {
    padding-top: 4px;
    margin: 8px 0;
    font-size: 14px;
}


.menu-image {
    width: 19%;
    height: 30% !important;
    margin-top: 5px;
    
}


#menuhover {
    cursor: pointer;
}

#menuhover:hover {
    background: rgba(211, 211, 211, 0.199);
    border-bottom: 2px solid #6f91f2;
}


.splitter-section {
    background: #f0edf4;
}

.bg-white {
    color: black !important;
    cursor: pointer;
}
.bg-white:hover {
    background-color: #6f91f2 !important;
    color: #fff !important;
}

.table-heading {
    background: #342f57;
    color: #fff;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    background-color:  #fff;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 8px 8px 0 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #6f91f2;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #6f91f2;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-radius: 8px 8px 0 0;
    border-top: none;
  }

  .p-3 {
      border: 1px solid rgba(128, 128, 128, 0.171);
      border-radius: 8px;
  }

  .new-comment {
      margin-right: 20px;
      list-style: none;
      text-decoration: none;
      border-right: 2px solid #6f91f2;
      padding-right: 15px;
  }

  .remove-comment {
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
  }

  .folder-img {
      margin-right: 10px;
  }


















/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px ) {
    li {
        margin-right: 5px;
    }

    .right-search {
        position: absolute;
        color: gray;
        bottom: 0;
        top: 27px;
        left: 611px;
        right: 0;
    }
    .left-search {
        position: absolute;
        color: #6b8be8;
        top: 18px;
        bottom: 0;
        left: 887px;
        right: 0;
    }

    .search-bar {
        width: 330px !important;
        border: none !important;
        border-radius: 20px !important;
        background: #2e2c4c !important;
        padding-left: 35px !important;
    }

    .link-text {
        margin-left: 19px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 12px;
    }

    .left-nav-icon {
        margin-left: 60px;
        font-size: 17px;
    }

    .bg-transparent {
        color: #fff !important;
        margin-right: 50px;
    }

    .gray-icon {
        margin-left: 20px;
    }

    .menu-text {
        font-size: 12px;
    }

    .border-left {
        position: absolute;
        right: 858px;
        left: 0;
        bottom: 0;
        top: 25px;
    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
   
    li {
        margin-right: 1px;
    }

    .right-search {
        position: absolute;
        color: gray;
        bottom: 0;
        top: 28px;
        left: 565px;
        right: 0;
    }
    .left-search {
        position: absolute;
        color: #6b8be8;
        top: 18px;
        bottom: 0;
        left: 687px;
        right: 0;
    }

    .search-bar {
        width: 100% !important;
        border: none !important;
        border-radius: 20px !important;
        background: #2e2c4c !important;
        padding-left: 35px !important;
    }

    .link-text {
        margin-left: 19px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 12px;
    }

    .left-nav-icon {
        margin-left: 60px;
        font-size: 17px;
    }

    .gray-icon {
        margin-left: 0px;
    }

    .bg-transparent {
        color: #fff !important;
        margin-right: 20px;
    }

    .menu-text {
        font-size: 12px;
    }

    .border-left {
        display: none !important;
    }
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {

    li {
        margin-right: 1px;
    }

    .right-search {
       display: none;
    }

    .left-search {
        display: none;
    }

    .search-bar {
        width: 100% !important;
        border: none !important;
        border-radius: 20px !important;
        background: #2e2c4c !important;
        padding-left: 35px !important;
    }

    .link-text {
        margin-left: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 12px;
    }

    .left-nav-icon {
        margin-left: 0px;
        font-size: 10px;
    }

    .gray-icon {
        margin-left: 0px;
    }

    .bg-transparent {
        color: #fff !important;
        margin-right: 20px;
    }

    .menu-text {
        font-size: 12px;
    }

    .border-left {
        display: none !important;
    }

    .tab-button {
        margin-right: 7px;
        color: #fff !important;
    }
  
    .navbar-nav .nav-icon {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.397);
        cursor: pointer;
        margin-right: 10px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row !important;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .form-bar .search-bar {
        display: none !important;
    }

    .left-search {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .link-text {
        display: none;
    }

    .border-left {
        display: none !important;
    }


    .left-nav-icon {
        margin-left: 0px;
    }

    .border-right {
        margin-left: 4px;
    }


}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 768px) {
    
    .table {
        font-size: 13px;
    }

    .menu-text {
        font-size: 10px;
    }


    .bg-white {
        background-color: #fff!important;
        font-size: 10px !important;
    }

   
    .menu-image {
        width: 10%;
        height: 30% !important;
        margin-top: 3px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row !important;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .form-bar .search-bar {
        display: none !important;
    }

    .left-search {
        display: none;
    }

    .right-search {
        display: none;
     }

    .search-bar {
        display: none;
    }

    .link-text {
        display: none;
    }

    .border-left {
        display: none !important;
    }


    .left-nav-icon {
        margin-left: 0px;
    }

    .border-right {
        margin-left: 4px;
    }

    .tab-button {
        margin-right: 7px;
        color: #fff !important;
    }

    .navbar-nav .nav-icon {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.397);
        cursor: pointer;
        margin-right: 5px;
    }


}

/* Landscape phones and smaller */
@media (max-width: 480px) {

    .table {
        font-size: 13px;
    }

    .menu-text {
        font-size: 10px;
    }

    li {
        margin-right: 6px;
    }

    .bg-white {
        background-color: #fff!important;
        font-size: 13px !important;
    }

   
    .menu-image {
        width: 10%;
        height: 30% !important;
        margin-top: 3px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row !important;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .form-bar .search-bar {
        display: none !important;
    }

    .left-search {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .link-text {
        display: none;
    }

    .border-left {
        display: none !important;
    }


    .left-nav-icon {
        margin-left: 0px;
    }

    .border-right {
        margin-left: 4px;
    }

    .tab-button {
        margin-right: 7px;
        color: #fff !important;
    }

    .navbar-nav .nav-icon {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.397);
        cursor: pointer;
    }




}